
  .slide-header{
    margin: 11vw 5.55vw;
    h2{
      font-weight: bolder;
      color:black;
      margin-bottom: 0;
    };

    p{
      color:gray
    }
    
  }

  .slide-container{
    margin-left: 3vw;
  }

  
  .article-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 34vw;
  }
  
  .article-card-content{

    display: inline-flex;
  }
  
  .article-card-content.name{
    flex-flow: row-reverse wrap;
  }
  .article-card-content.title{
    flex-flow: column-reverse wrap;
  }

  .bgimage{
    background-repeat: round;
    margin: 0 2.55vw;
    width: 52vw;
    border-radius: 4vw;
  }

  :host ::ng-deep .ui-carousel-content{
    padding: 0;
  }
  
  :host ::ng-deep .ui-button {
    display: none;
  }
  