@import "~src/scss/core";

.card-address-container {
  display: flex;
  flex-direction: row;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid $secondary-14;
  @media screen and (max-width: 1366px) {
    width: $_850PX;
    height: 6.15vw;
    padding: $_20PX $_20PX;
  }
  @media screen and (min-width: 1367px) {
    width: 850px;
    height: 84px;
    padding: 20px 40px;
  }
  .item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .item1 {
    flex-basis: 17.33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title-section{
      @media screen and (max-width: 1366px) {
        padding-bottom: $_10PX
      }
      @media screen and (min-width: 1367px) {
        padding-bottom: 10px;
      }
    }
    .default-address-text{
      margin-top: auto;
    }
  }
  .item2 {
    flex-basis: 27.33%;
    .title-section{
      @include for-desktop-up{
        padding-bottom: $_10PX;
      }
      @include for-big-desktop-up{
        padding-bottom: 10px;
      }
    }
    .shipping-address{
      display: flex;
      flex-direction: column;
    }
  }
  .item3 {
    flex-basis: 27.33%;
    .title-section{
      @media screen and (max-width: 1366px) {
        padding-bottom: $_10PX
      }
      @media screen and (min-width: 1367px) {
        padding-bottom: 10px;
      }
    }
    .contact-information{
      display: flex;
      flex-direction: column;
      .item-contact-information{
        display: flex;
        flex-direction: row;
        .email,.phone-number{
          @media screen and (max-width: 1366px) {
            padding-left: $_10PX
          }
          @media screen and (min-width: 1367px) {
            padding-left: 10px;
          }
        }
      }
    }
  }
  .item4 {
    flex-basis: 11%;
    align-items: center;
    justify-content: center;
  }
  .item5 {
    flex-basis: 11%;
    align-items: center;
    justify-content: center;
  }
  .item6 {
    flex-basis: 6%;
    align-items: center;
    justify-content: center;
    .goto-button{
      width: 100%;
      height: 100%;
    }
  }
}


.card-address-container:hover{
  z-index: 9999;
  -webkit-box-shadow: 0vw 0vw 10vw rgba(0, 0, 0, 0.17);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0.15vw 0.30vw 0.45vw rgba(0, 0, 0, 0.17);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0vw 0vw 10vw rgba(0, 0, 0, 0.17);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* OVERRIDE MATERIAL CHECKBOX*/
#mat-checkbox-1 .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #73ff39;
}

.mat-checkbox-selected{
  color: transparent;
  background-color: $_secondary-84;
}

.default-address{
  border: 2px solid $third-medium;
}


