.scarcity-main{
    margin-right: 0; 
    margin-top: 40px; 
    align-content: center; 
    align-items: center; 
    justify-items: center; 
    justify-content: center
}
.scarcity-header {
    width: 100%;
    margin: 11.11vw 5.55vw;
    h2{
        font-weight: bolder;
        color: black;
    }
    p{
        color: gray;
    }
}