@import "src/scss/core";

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1366px){
    padding: 5.27vw 0;
  }
  @media screen and (min-width: 1367px){
    padding: 72px 0;
  }

  .initial-sentence{
    @include for-desktop-up{
      padding-bottom: $_40PX;
    }
    @include  for-big-desktop-up{
      padding-bottom: 40px;
    }
  }


}
