@import "src/scss/core";


.inner-card {
  display: flex !important;
  flex-direction: column !important;
  @include tsc-product-card;
  padding: unset !important; // rimuove il padding di 16px della card di material
  height: 330px;

  .center-img {
    height: 150px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    margin-bottom: 5px;
    position: relative;

    .action-container {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateY(50%);
    }
  }


  app-addon-badge {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 299px;
    padding-top: 10px;
  }

  mat-card-content {
    padding: 0 15px;
    width: 100%;
    margin-bottom: 0 !important;

    mat-card-subtitle {
      display: block;
      margin-bottom: 8px;
    }

    mat-card-title {
      display: block;
      margin-bottom: 8px;
    }

    app-rating {
      display: block;
      margin-bottom: 15px;
    }

    app-addon-selling-alert {
      display: block;
      margin-bottom: 10px;
    }


  }

  .context-card-container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 10px 15px;

    .context-card-item{
      margin-bottom: 10px;
    }
  }
  .addon-header{
    position: absolute;
    z-index: 99999;
    width: 100%;
  }
  .addon-badge{
    position: absolute;
    z-index: 99999;
  }
}
