<div class="row justify-content-center mb-5" style="margin-right: 0">
  <div class="col-10">
    <h1 class="text-left text-dark" style="font-weight: bolder">Sezione tea addicted</h1>
    <div class="row">
      <div class="col-5 col-sp" (click)="handle(1)" id="1">
        <p class="text-center" id="1p">Best Tea in China</p>
      </div>
      <div class="col-5 col-sp" (click)="handle(2)" id="2">
        <p class="text-center" id="2p">Best Tea in China</p>
      </div>
      <div class="col-5 col-sp" (click)="handle(3)" id="3">
        <p class="text-center" id="3p">Best Tea in China</p>
      </div>
      <div class="col-5 col-sp" (click)="handle(4)" id="4">
        <p class="text-center" id="4p">Best Tea in China</p>
      </div>
      <div class="col-12" id="output">
      </div>
    </div>
  </div>
</div>
