.quote-container{
  margin: 15vw 5.55vw;
}

.quote-content-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  cursor: pointer;
  margin-top: 2vw;
  padding: 2vw 0;
}

.quote-content {
  width:50%;
}

.image-wrapper {
  text-align: center;
    padding-bottom: 5.5vw;
    margin: 0 5.55vw 5.55vw;
    border-bottom: 1px solid black;
}

.quote-image-wrapper{
  display: flex;
  flex-flow: row wrap;
  cursor: default;
  margin-bottom: 5.55vw;
}

.image-content{
  width:50%;
  height:50vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content-title{
  text-align: center;
  margin: 25vw 0;
  color:white;
  p{
    background-color: gray;
  }
}
.bg-color {
  width: 100%;
  background-color: gainsboro;
}
