.col-sp{
  border-bottom: 2px solid black;
  height: 150px;
  margin-bottom: 10px;
  cursor: pointer;
  p{
    color: black;
  }
  width: 40%;
  display: inline-block;
}
h1{
  padding: 0 30px;
}
p{
  padding: 30px;
}
#output{
  padding: 30px;
}
