.quote-container{
  margin:0 5.5vw;
}

.quote-content-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  cursor: pointer;
}

.quote-content {
  width:50%;
}

.image-wrapper {
  text-align: center;
    padding-bottom: 5.5vw;
    margin: 5.5vw;
    border-bottom: 1px solid black;
}

.quote-image-wrapper{
  display: flex;
  flex-flow: row wrap;
  cursor: default;
  margin-bottom: 5.55vw;
}

.image-content{
  width:50%;
  height:50vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content-title{
  text-align: center;
  margin: 25vw;
  color:white;
}
