<div>
  <div class="seo-container">
    <div class="seo-header">
      <h1>Most Popular links</h1>
        <p>Tea, Accessories, Teaware. Find anything</p>
    </div>
    
    <div style="padding: 0">
      <div style="padding: 0; width: 100%;">

        <div class="list" *ngFor="let x of list" style="margin-bottom: 50px">
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings{{x}}</button>
            <button mat-menu-item>Help{{x}}</button>
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
          </mat-menu>

          <div [matMenuTriggerFor]="appMenu" class="w-100">
            <div>
              <div style="width: 100%;">
                <h1 style="text-align: left; width: 50%; color:black; margin-bottom: 10px; display: inline">Best Seller</h1>
                <span style="float: right"><mat-icon>expand_more</mat-icon></span>
              </div>
            </div>
            <p style="color: grey; text-align: left;">Tea | Teaware | Third</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


