@import "~src/scss/core";
.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  .recap-section{
    @media screen and (max-width: 1366px){
      padding: 5.27vw 0;
    }
    @media screen and (min-width: 1367px){
      padding: 72px 0;
    }
  }
  .container-shipping-country-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 1366px){
      padding: 5.27vw 0;
      .item{
        padding-right: $_50PX;
      }
    }
    @media screen and (min-width: 1367px){
      padding: 72px 0;
      .item{
        padding-right: 50px;
      }
    }
  }
}
