<div style="margin-right: 0; margin-top: 40px; align-content: center; align-items: center; justify-items: center; justify-content: center">
  <div class="quick-searchcontainer">
    <h1 style="text-align: left; color: black; padding: 30px">Quick Searches</h1>
    <mat-list role="list" >
      <div class="list-content" *ngFor="let i of [1,2,3,4]">
        <mat-list-item role="listitem" >
        <mat-card>
          <mat-card-content>
            <div class="content-wrapper">
              <div class="content image">
                <img src="./assets/images/leaf-icon.svg">
              </div>
              <div class="content main">
                <p style="color: darkred;"><b>Teaware in legno</b></p>
                <span style="color: grey;">178 accesoril</span>
              </div>
              <div class="content price">
                <p style="text-align: right">da <span style="font-weight: bolder">$ 17</span></p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-list-item>
      </div>

      <div class="button-wrapper">
        <button style="width: 100%;height: 50px;
        font-size: 1.5em;outline: none; border: 1px solid red;
        ">Mostra di piu</button>
      </div>
      
    </mat-list>
    
  </div>

</div>

