<div class="row justify-content-center mb-5">
  <div class="col-10">
    <h1 class="text-left text-dark">Quick Searches</h1>
    <div class="row p-0 ">
      <div class="col-12 p-0">

        <div class="row list" *ngFor="let i of list">
          <div class="col-3 px-0">
            <img src="./assets/images/leaf-icon.svg">
          </div>
          <div class="col-6 px-0 pl-2">
            <p class="text-danger">Teaware in legno</p>
            <span class="text-muted">178 accesoril</span>
          </div>
          <div class="col-3 px-0 pr-2">
            <p class="text-right">da <span style="font-weight: bolder">$ 17</span></p>
          </div>
        </div>

        <div class="btn btn-outline-danger w-100 mt-3">Mostra di piu</div>
      </div>
    </div>
  </div>
</div>

