<div class="home-page-container">
  <app-front-view-section-home></app-front-view-section-home>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
<!--  <app-bar-search-home></app-bar-search-home>-->
  <app-articles-section-home></app-articles-section-home>
  <app-scarcity-section-home></app-scarcity-section-home>
  <app-quote-section></app-quote-section>
  <app-quick-search-section-home></app-quick-search-section-home>
  <app-seo-links-section-home></app-seo-links-section-home>
</div>
<app-footer-page-mobile></app-footer-page-mobile>
