<div class="row justify-content-center">
  <div class="col-10 col-10-sp">
    <i class="fa fa-search fa-lg text-secondary"></i>
    <input class="form-control-sp text-dark" type="text" placeholder="search">
    <hr>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option></mat-option>
        <mat-option [value]="option" *ngFor="let option of options">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-10 p-0 mx-0 mt-3">
    <button mat-raised-button class="text-white text-center">Search</button>
  </div>
</div>
