<div style="margin-right: 0; margin-top: 80px; align-content: center; align-items: center; justify-items: center; justify-content: center">
  <div class="col-10-sp ">
    <i class="fa fa-search fa-lg"></i>
    <input class="form-control-sp text-dark" type="text" placeholder="search">
    <hr>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option></mat-option>
        <mat-option [value]="option" *ngFor="let option of options">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="width: 84%; margin-top: 10px;padding: 20px;
  margin-left: 30px;">
    <button mat-raised-button style="color: white; text-align: center">Search</button>
  </div>
</div>
