.col-6{
  position: relative;
  height: 150px;
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  h3{
    position: absolute;
    top: 45%;
    width: 100%;
    left:0;
    z-index: 999;
    font-weight: bolder;
  }
}
