<!--<div fxLayout="row" fxLayoutAlign="default flex-start">-->

<!--  <div class="outer-card-filter" fxLayout="column" fxLayoutAlign="flex-start">-->

<!--    <mat-card class="inner-card">-->


<!--      &lt;!&ndash;   QUALITY FILTERS   &ndash;&gt;-->
<!--      <div class="h20 m-b-30" fxLayout="row" fxLayoutAlign="flext-start">-->
<!--        <div>Tea quality</div>-->
<!--      </div>-->

<!--      <app-type-filter (typeFilterChanged)="onTypeFilterChanged($event)"></app-type-filter>-->
<!--      <app-variety-filter></app-variety-filter>-->
<!--      <app-variety-suggests-filter></app-variety-suggests-filter>-->
<!--      <app-roast-toggle-filter></app-roast-toggle-filter>-->
<!--      <app-pressed-toggle-filter></app-pressed-toggle-filter>-->


<!--      <mat-divider [inset]="true"></mat-divider>-->


<!--      &lt;!&ndash;   TEA LOCATION FILTERS   &ndash;&gt;-->
<!--      <div class="h20 m-b-30" fxLayout="row" fxLayoutAlign="flext-start">-->
<!--        <div>Tea location</div>-->
<!--      </div>-->

<!--      <div class="h12 secondary-84">COUNTRY</div>-->
<!--      <div class="tea-location-wrapper" fxLayout="column" fxLayoutAlign="center">-->
<!--        <app-country-filter></app-country-filter>-->
<!--      </div>-->

<!--      <div class="h12 secondary-84">ELEVATION</div>-->
<!--      <div class="tea-elevation-wrapper m-b-20" fxLayout="column" fxLayoutAlign="center">-->
<!--        <app-elevation-filter></app-elevation-filter>-->
<!--      </div>-->


<!--      <mat-divider [inset]="true"></mat-divider>-->


<!--      &lt;!&ndash;   PICKING FILTERS   &ndash;&gt;-->
<!--      <div class="h20 m-b-30" fxLayout="row" fxLayoutAlign="flext-start">-->
<!--        <div>Tea picking</div>-->
<!--      </div>-->

<!--      <div class="h12 secondary-84 m-b-25">SEASONS</div>-->
<!--      <div class="m-b-30">-->
<!--        <app-season-filter></app-season-filter>-->
<!--      </div>-->

<!--      <div class="h12 secondary-84 m-b-25">YEAR</div>-->
<!--      <div class="m-b-30">-->
<!--        <app-year-filter></app-year-filter>-->
<!--      </div>-->


<!--      <mat-divider [inset]="true"></mat-divider>-->


<!--      &lt;!&ndash;   OTHER FILTERS   &ndash;&gt;-->
<!--      <div class="h20 m-b-30" fxLayout="row" fxLayoutAlign="flext-start">-->
<!--        <div>Others</div>-->
<!--      </div>-->

<!--      <div class="h12 secondary-84 m-b-30">PRICE PER GRAM</div>-->
<!--      <app-range-filter></app-range-filter>-->
<!--      <app-certificated-organic-filter></app-certificated-organic-filter>-->
<!--      <app-sample-available-filter></app-sample-available-filter>-->

<!--    </mat-card>-->

<!--  </div>-->

<!--</div>-->
