.card{
  height: 400px;
  position: relative;
  overflow: hidden;
  .img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
  .card-body{
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    .bottom-sp{
      margin-top: 280px;
    }
  }
}
.carousel-indicators{
  position: absolute;
  top: 410px;
  left: 0;
  background-color: black;
  color: black;
  li{
    background-color: black;
    opacity: 0.3;
  }
  li:active{
    opacity: 1;
  }
  li.active{
    opacity: 1;
  }
}
h2{
  padding: 0 5.55vw;
}
p{
  padding: 0 5.55vw;
}

.slide-container{
  margin-left: 20px;;
  
}
.example-card {
  // max-width: 400px;
  // width:375px
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.article-card-content{
  height: 40vw;
  display: inline-flex;
}

.article-card-content.name{
  flex-flow: row-reverse wrap;
}
.article-card-content.title{
  flex-flow: column-reverse wrap;
}


