<div style="margin-right: 0; margin-top: 80px; align-content: center; align-items: center; justify-items: center; justify-content: center">
<div style="width: 84%;">
    <h2 style="text-align: left; margin-bottom: 0">Trending Articles</h2>
    <p style="font-weight: bolder; color: grey">Handpicked curated Tea just for you</p>
  </div>
  <div style="width: 84%; margin-bottom: 50px; padding-left: 30px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators"  *ngFor="let x of data?.articles; let i  = index;" attr.data-slide-to="{{i + 1}}"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card">
            <img [src]="data?.articles[0].coverImage.url">
            <div class="card-body w-100">
              <h1 class="text-white text-right">{{data?.articles[0].author.name}}</h1>
              <h1 class="text-left text-white bottom-sp">{{data?.articles[0].title}}</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item" *ngFor="let article of data?.articles">
          <div class="card">
            <img [src]="article?.coverImage.url">
            <div class="card-body w-100">
              <h1 class="text-white text-right">{{article?.author.name}}</h1>
              <h1 class="text-left text-white bottom-sp">{{article?.title}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
