<div class="article-header"> 
    <h2 >Trending Articles</h2>
    <p class="subheader">Handpicked curated Tea just for you</p>
</div>
  <div class="slide-container">
    <!-- <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let article of data?.articles">
        <ng-template carouselSlide >
        <div class="bgimage" [ngStyle]="{'background-image':getImage(article.coverImage)}">
          <div class="article-card background-white-pure">        
              <div class="article-card-content name">
                <h3 class="p-10">{{article?.author.name}}</h3>
              </div>
              <div class="article-card-content title">
                <h1 class="p-10">{{article?.title}}</h1>
              </div>                      
          </div>
        </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o> -->

   
</div>
<div class="slide-container">
  <p-carousel [value]="data?.articles" [numVisible]="1.1" [numScroll]="1" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template let-article pTemplate="item">
      <div class="bgimage" [ngStyle]="{'background-image':getImage(article.coverImage)}">
        <div class="article-card background-white-pure">        
            <div class="article-card-content name">
              <h3 class="p-10">{{article?.author.name}}</h3>
            </div>
            <div class="article-card-content title">
              <h1 class="p-10">{{article?.title}}</h1>
            </div>                      
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>