
.article-header {
  margin:19.45vw 5.5vw 0; 
  align-content: center; 
  align-items: center; 
  justify-items: center; 
  justify-content: center;
  h2{
    margin: 0;
    font-weight: bolder;
    color: black;
  }
}

.subheader{
  font-weight: bolder; color: grey
}


.slide-container{
  margin-left: 3vw;;
  
}
.example-card {
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.article-card-content{
  height: 40vw;
  display: inline-flex;
}

.article-card-content.name{
  flex-flow: row-reverse wrap;
}
.article-card-content.title{
  flex-flow: column-reverse wrap;
}

.bgimage{
  background-repeat: round;
  margin: 0 2.55vw;
}
:host ::ng-deep .ui-carousel-content{
  padding: 0;
}

:host ::ng-deep .ui-button {
  display: none;
}
