<div class="main-div">
  <video no-controls autoplay loop src="./assets/videos/launchpage video.mp4"></video>
  <div class="row-sp" style="width: 100%">
     <div style="color: white; ">
       <div style="width: 33%; text-align: left; display: inline-block">
         <p style="padding: 10px"><i class="fa fa-bars" aria-hidden="true"></i></p>
       </div>
       <div style="width: 33%; text-align: center;display: inline-block">
         <p style="padding: 10px"><img src="./assets/logo/logo_white.png"></p>
       </div>
       <div style="width: 34%; text-align: right;display: inline-block">
         <p style="padding: 10px">login</p>
       </div>
       <div style="width: 100%; text-align: center; margin-top: 50px">
         <h1 style="margin-bottom: 10px">Find the tea you never tasted</h1>
         <p>Placeholder to Placeholder</p>
       </div>
       <app-bar-search-home></app-bar-search-home>
     </div>
  </div>
</div>
