.main-div {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  video {
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 350px;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: 0.85;
  }
  .front-view-container {
    position: absolute;
    top: 0;
    width: 100%;
    img{
      height: 100%;
      width: 13.88vw;
    };
    .nav-content {
      width: 33%; 
      text-align: center;
      display: inline-block;
      color: white;
      p {
        padding: 2.77vw;
        text-align: center;
      };
      img{width: 8.33vw;height: 100%;}
      .t-a-l{text-align: left;};
      .t-a-r{text-align: right;};
    }
    .front-view-header {
      width: 100%; 
      text-align: center; 
      margin-top: 120px;
      color: white;
      h1{
        margin-bottom: 2.77vw
      }
    }
  }
}
