<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
  <linearGradient [id]="id + '-gradient'" x1="0%" y1="50%" x2="100%" y2="50%">
    <stop [attr.offset]="startFull | addPercentageString" style="stop-color:rgb(248,177,98);stop-opacity:1"></stop>
    <stop [attr.offset]="borderFull | addPercentageString" style="stop-color:rgb(248,177,98);stop-opacity:1"></stop>
    <stop [attr.offset]="borderEmpty | addPercentageString" style="stop-color: #61615E;stop-opacity:0.84"></stop>
    <stop [attr.offset]="endEmpty | addPercentageString" style="stop-color: #61615E;stop-opacity:0.84"></stop>
  </linearGradient>
</svg>

<svg class="svg-inline--fa fa-star fa-w-18"
     xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 576 512">
  <path [attr.fill]="'url(#'+ id +'-gradient) #61615E'" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
</svg>

<!--<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
  <linearGradient [id]="id" x1="0%" y1="50%" x2="100%" y2="50%">
    <stop [attr.offset]="startFull | addPercentageString" style="stop-color:rgb(248,177,98);stop-opacity:1"></stop>
    <stop [attr.offset]="borderFull | addPercentageString" style="stop-color:rgb(248,177,98);stop-opacity:1"></stop>
    <stop [attr.offset]="borderEmpty | addPercentageString" style="stop-color: #61615E;stop-opacity:0.84"></stop>
    <stop [attr.offset]="endEmpty | addPercentageString" style="stop-color: #61615E;stop-opacity:0.84"></stop>
  </linearGradient>
</svg>-->
